{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/img/post-bg.jpg')">
            <div class="container position-relative px-2 px-lg-3">
                <div class="row gx-3 gx-lg-4 justify-content-center">
                    <div class="col-md-12 col-lg-12 col-xl-10">
                        <div class="post-heading text-center">
                            <h1>{{ post.setup }}...</h1>
                            <h2 class="subheading text-center">{{ post.punchline }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% include "footer.html" %}